
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>· Phoenix Framework</title>
    <link rel="stylesheet" href="<%= webpack_entrypoint_path(@conn, "css/app.css") %>">
  </head>
  <body>
    <div id="main">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= webpack_entrypoint_path(@conn, "js/app.js") %>"></script>
  </body>
</html>
